@import "../../styles/base";

.header-main {
  background: $mainColor;
  color: white;
  height: 75px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;

  .header__logo {
    text-decoration: none;
    color: white;
  }

  .header__button {
    border: 1.5px solid white;
    border-radius: 30px;
    color: white;
    font-size: 14px;
    padding: 0;
    height: 45px;
    min-width: 45px;

    @include tabletV {
     padding: 0 5px;
    }

    ::ng-deep .mdc-button__label {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
    }

    .header__profile-pic {
    }

    .header__profile-name {
      display: none;

      @include tabletV {
        display: initial;
      }
    }
  }
}
