<div class="note-block">
  <h1>NOTE EDIT</h1>
  <button routerLink="/" mat-button>Back</button>
  <div class="note">
    <form [formGroup]="noteEditorFormGroup" class="note-form" (ngSubmit)="submitForm()">
      <mat-form-field>
        <mat-label for="topicId">Topic</mat-label>
        <mat-select id="topicId" formControlName="topicId">
          <mat-option *ngFor="let topic of topics$ | async" [value]="topic.id">{{topic.type}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label for="title">Title</mat-label>
        <input type="text" id="title" matInput formControlName="title">
      </mat-form-field>
      <mat-form-field>
        <mat-label for="text">Text</mat-label>
        <textarea type="text" id="text" matInput formControlName="text"></textarea>
      </mat-form-field>
      <ng-template [ngIf]="isEditMode$ | async" [ngIfElse]="createNote">
        <button mat-button type="submit">Update Note</button>
      </ng-template>
    </form>

    {{currentNote$ | async | json}}

  </div>
</div>

<ng-template #createNote>
  <button mat-button type="submit">Save Note</button>
</ng-template>
