@import "../../shared/styles/indents";

.note-block {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  .note {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    .note-form {
      display: flex;
      flex-flow: column;
      width: 100%;
      max-width: 640px;

      .note-form__actions {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        align-items: center;
      }
    }
  }
}
