<div class="auth-main">
  <div class="auth__container">
    <h1 class="auth__title">Log In</h1>
    <form [formGroup]="logInForm" class="auth__form">
      <mat-form-field>
        <mat-label>Email:</mat-label>
        <input formControlName="email" matInput type="email" autocomplete="email">
        <app-form-errors
          [control]="emailFormControl"
          [name]="'Email'"
        ></app-form-errors>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password:</mat-label>
        <input formControlName="password" matInput [type]="hidePass ? 'password' : 'text'" autocomplete="current-password">
        <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
        <app-form-errors
          [control]="passwordFormControl"
          [name]="'Password'"
        ></app-form-errors>
      </mat-form-field>
      <button (click)="logIn()" mat-button class="auth-form__button">Log In</button>
    </form>
    <div class="auth__change-method">
      Don't have an account yet?
      <a routerLink="/signup" class="auth__link">Sign Up</a>
    </div>
  </div>
</div>
