<div class="notes-main base-wrapper">
  <h1>NOTESY main page</h1>

  <button (click)="showSelected()" mat-button>show selected</button>

  <div>
    <mat-select [formControl]="userIdFormControl" placeholder="ALL">
      <mat-option [value]="null" ngDefaultControl>
        ALL
      </mat-option>
      <mat-option *ngFor="let user of users$ | async" [value]="user.id">
        {{user.name}}
      </mat-option>
    </mat-select>

    <mat-select [formControl]="topicIdFormControl" placeholder="ALL">
      <mat-option [value]="null" ngDefaultControl>
        ALL
      </mat-option>
      <mat-option *ngFor="let topic of topics$ | async" [value]="topic.id">
        {{topic.type}}
      </mat-option>
    </mat-select>
  </div>

  <table *ngIf="notesList$ | async as notesList" [dataSource]="notesList" class="notes-table" mat-table>
    <ng-container matColumnDef="createNewNote">
      <th *matHeaderCellDef mat-header-cell [attr.colspan]="tableColumnsList.length">Create New Note</th>
    </ng-container>

    <ng-container matColumnDef="topic">
      <th *matHeaderCellDef mat-header-cell>Topic</th>
      <td *matCellDef="let note" mat-cell>{{note.topicType}}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th *matHeaderCellDef mat-header-cell>Title</th>
      <td *matCellDef="let note" mat-cell>{{note.title}}</td>
    </ng-container>

    <ng-container matColumnDef="author">
      <th *matHeaderCellDef mat-header-cell>Author</th>
      <td *matCellDef="let note" mat-cell>{{note.userName}}</td>
    </ng-container>

    <ng-container matColumnDef="marker">
      <th *matHeaderCellDef mat-header-cell>
        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                      [checked]="selectedRows.hasValue() && isAllSelected()"
                      [indeterminate]="selectedRows.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td *matCellDef="let row" mat-cell>
        <mat-checkbox
          (change)="$event ? selectedRows.toggle(row) : null"
          (click)="$event.stopPropagation()"
          [checked]="selectedRows.isSelected(row)"
        ></mat-checkbox>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="tableColumnsList" mat-header-row></tr>
    <tr
      (click)="newNote()"
      *matHeaderRowDef="newNoteRow"
      mat-header-row
    ></tr>
    <tr
      (click)="openDialog(row)"
      *matRowDef="let row; columns: tableColumnsList;"
      class="notes-table__row"
      mat-row
    ></tr>
  </table>
</div>
