<div class="notes-main base-wrapper">
  <h1>NOTESY main page</h1>

  <div class="notes-list">
    <button (click)="newNote()" class="notes__button-new" mat-button>+</button>
  </div>

  <button (click)="showSelected()" mat-button>show selected</button>

  <table *ngIf="notesList$ | async as notesList" [dataSource]="notesList" class="notes-table" mat-table>
    <ng-container matColumnDef="number">
      <th *matHeaderCellDef mat-header-cell>ID</th>
      <td *matCellDef="let note" mat-cell>{{note.id}}</td>
    </ng-container>

    <ng-container matColumnDef="topic">
      <th *matHeaderCellDef mat-header-cell>Topic</th>
      <td *matCellDef="let note" mat-cell>{{note.topicType}}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th *matHeaderCellDef mat-header-cell>Title</th>
      <td *matCellDef="let note" mat-cell>{{note.title}}</td>
    </ng-container>

    <ng-container matColumnDef="marker">
      <th *matHeaderCellDef mat-header-cell>
        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                      [checked]="selectedRows.hasValue() && isAllSelected()"
                      [indeterminate]="selectedRows.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td *matCellDef="let row" mat-cell>
        <mat-checkbox
          (change)="$event ? selectedRows.toggle(row) : null"
          (click)="$event.stopPropagation()"
          [checked]="selectedRows.isSelected(row)"
        ></mat-checkbox>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="tableColumnsList" mat-header-row></tr>
    <tr
      (click)="openDialog(row)"
      *matRowDef="let row; columns: tableColumnsList;"
      class="notes-table__row"
      mat-row
    ></tr>
  </table>
</div>
