@import "../../../styles/base";

.note-dialog {
  position: relative;


  @include tabletV {
    min-width: 550px;
  }

  @include tabletH {
    min-width: 750px;
  }

  @include laptop {
    min-width: 1000px;
  }

  .note-dialog__top {
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    .note-dialog__close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 0;
      color: #444444;
      background: none;
      box-shadow: none;
      transition: none;

      ::ng-deep .mdc-fab__ripple::before {
        background-color: #F6FAF9;
      }
    }
  }

  .note-dialog__form {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;

    @include tabletV {
      column-gap: 20px;
    }

    .ng-invalid {
      .form__character-counter {
        color: #F44336;
      }
    }

    .form__input {
      width: 100%;

      &--topic, &--title {
        @include tabletV {
          flex: 1 1 40%;
        }
      }

      &--text {
        textarea {
          resize: none;
        }
      }

      .form__character-counter {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 12px;
      }
    }

    ::ng-deep .mdc-text-field {
      background: none;
      overflow: visible;

      .mat-mdc-form-field-focus-overlay {
        background: none;
      }
    }

    .note-dialog__actions {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;

      .note-dialog__button {
        border-radius: 100px;
        height: 40px;
        padding: 0 15px;

        &--submit {
          margin-left: auto;
          background: rgba(0, 0, 0, 0.38);
          color: white;
          width: 80px;

          &:enabled {
            background: $mainColor;
          }
        }

        &--cancel, &--delete {
          &:enabled {
            color: #444444;
          }
        }

        &--delete {
          margin-right: 10px;
        }
      }
    }
  }

  .not-your-note {
    gap: 20px;

    .form__input {
      color: rgba(0, 0, 0, 0.87);
      border-bottom: 1px solid rgba(0, 0, 0, 0.42);

      .not-your-note__input-title {
        font-size: 12px;
      }
    }

    .note-dialog__actions {
      display: flex;
      justify-content: center;
    }
  }
}
