<div class="auth-main">
  <div class="auth__container">
    <h1 class="auth__title">Sign Up</h1>
    <form [formGroup]="signUpForm" class="auth__form">
      <mat-form-field>
        <mat-label>Name:</mat-label>
        <input formControlName="name" matInput type="name" autocomplete="username">
        <app-form-errors
          [control]="nameFormControl"
          [name]="'Name'"
        ></app-form-errors>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email:</mat-label>
        <input formControlName="email" matInput type="email" autocomplete="email">
        <app-form-errors
          [control]="emailFormControl"
          [name]="'Email'"
        ></app-form-errors>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password:</mat-label>
        <input formControlName="password" matInput [type]="hidePass1 ? 'password' : 'text'" autocomplete="new-password">
        <mat-icon matSuffix (click)="hidePass1 = !hidePass1">{{hidePass1 ? 'visibility_off' : 'visibility'}}</mat-icon>
        <app-form-errors
          [control]="passwordFormControl"
          [name]="'Password'"
        ></app-form-errors>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirm password:</mat-label>
        <input formControlName="confirm" matInput [type]="hidePass2 ? 'password' : 'text'" autocomplete="new-password">
        <mat-icon matSuffix (click)="hidePass2 = !hidePass2">{{hidePass2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        <app-form-errors
          [control]="confirmFormControl"
          [name]="'Password'"
        ></app-form-errors>
      </mat-form-field>
      <button (click)="signUp()" mat-button class="auth-form__button">Sign Up</button>
    </form>
    <div class="auth__change-method">
      Already have an account?
      <a routerLink="/login" class="auth__link">Log In</a>
    </div>
  </div>
</div>
