<div class="note">
  <form (ngSubmit)="submitForm()" [formGroup]="noteEditorFormGroup" class="note-form">
    <mat-form-field>
      <mat-label>Topic</mat-label>
      <mat-select formControlName="topicId" id="topicId">
        <mat-option *ngFor="let topic of topics$ | async" [value]="topic.id">{{topic.type}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input formControlName="title" id="title" matInput type="text">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Text</mat-label>
      <textarea formControlName="text" id="text" matInput type="text"></textarea>
    </mat-form-field>
    <div class="note-form__actions">
      <ng-template [ngIfElse]="createNote" [ngIf]="isEditMode$ | async">
        <button mat-button type="submit" [disabled]="!noteEditorFormGroup.valid">Update Note</button>
        <button (click)="deleteNote()" mat-button>Delete Note</button>
      </ng-template>
    </div>
  </form>
</div>

<ng-template #createNote>
  <button mat-button type="submit" [disabled]="!noteEditorFormGroup.valid">Save Note</button>
</ng-template>
